

    <!-- footer section start -->
    <footer class="footer">
        <span>Created By <a href="#"></a> | <span class="far fa-copyright"></span></span>
    </footer>

    <script src="script.js">
        
    </script>
</body>
</html>
