<%- include('header'); %>
<style>
  * {
    margin: 0;
  }

  a {
    text-decoration: none;
    margin-bottom: 25px;
  }

  a h2 {
    background-color: crimson;
    margin: 0;
    color: white;
    padding: 20px;
  }
  a h2:hover {
    color: black;
  }

h3{
    font-size: 30px;
}

</style>

<a href="/"><h2>Back</h2></a>
<h3>
Email sent successfully.
</h3>
